::-webkit-scrollbar {
    /* スクロールバー外し */
    display: none;
}

body {
    height: auto;
    background-repeat: no-repeat;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: white;
}

/************************** 
ポイント表示エリア
***************************/
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1
}

.centered h2 {
    font-size: 32px;
    margin: 32px;
}

.centered div {
    font-size: 96px;
}

/************************** 
スタンプ登録エリア
***************************/

input {
    width: 100px;
}

.input-point {
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 20px;
}

/* #imagePreview {
    top: 20px;
    left: 320px;
    position: absolute;
} */

#imagePreview img {
    width: 100px;
    margin: 10px;
}


/************************** 
チャートデバイス表示エリア
***************************/


.chart-device-container {
    display: flex;
    align-items: flex-start;
}

/************************** 
チャートjs画面
***************************/
#chart_wrapper {
    width: 200px;
    /* top: 310px; */
    /* left: 80px; */
    /* position: absolute; */
}

.myChart {
    flex: 1;
}


/************************** 
スマホ画面 画像表示
***************************/

.text-container {
    max-width: calc(100% - 24px); /* 画像の幅から8pxを減算 */
}


/************************** 
スタンプ表示エリア
***************************/

.image-wrapper {
  width: 23%; /* (100 - 3 * 1%) / 4 = 24% 1%は間隔を意味する。 */
  margin: 1%;  /* 画像間の間隔。必要に応じて調整してください。 */
}

.image {
  width: 100%; /* 画像をコンテナの幅に合わせる */
  height: auto; /* アスペクト比を維持 */
    /* width: 70px; */
    /* height: 70px; */
    /* margin: 10px 10px 0px 10px; */
    /* フェードインアニメーションを適用 */

    border-radius: 8px; /* この行を追加 */
    animation-name: fadeInImage;

    /* アニメーションの時間を調整 */
    animation-duration: 0.5s;
    /* タイミング関数を指定 */
    animation-timing-function: ease;
    /* アニメーションの繰り返し回数を指定 */
    animation-iteration-count: 1;
    /* アニメーション完了後に最終スタイルを保持 */
    animation-fill-mode: forwards;

}

/* 画像がフェードインするアニメーションのキーフレーム */
@keyframes fadeInImage {
    0% {
        opacity: 0;
        /* 初期状態で透明 */
    }

    100% {
        opacity: 1;
        /* 終了時に完全に表示 */
    }
}

.point {
    font-size: 16px;
    /* ポイントのフォントサイズを設定 */
}

/* 透明度を指定するためのクラス */
/* .clicked-image { */
/* opacity: 0.5; */
/* 初期の透明度 */
/* } */

/* スタンプがクリックされたときのアニメーション */
.clicked-image {
    animation-name: bounceAndExit;
    /* アニメーション名を指定 */
    animation-duration: 0.5s;
    /* アニメーションの時間を調整 */
    animation-timing-function: ease;
    /* タイミング関数を指定 */
    animation-iteration-count: 1;
    /* アニメーションの繰り返し回数を指定 */
    animation-fill-mode: forwards;
    /* アニメーション完了後に最終スタイルを保持 */
}

/* スタンプが跳ねるアニメーションのキーフレーム */
@keyframes bounceAndExit {

    0%,
    20% {
        transform: translateY(0);
        /* Y軸方向に移動しない */
    }

    30% {
        transform: translateY(10px);
        /* Y軸方向に10px移動 */
    }

    50% {
        transform: translateY(20px);
        /* Y軸方向に20px移動 */
    }

    60% {
        transform: translateY(10px);
        /* Y軸方向に10px移動 */
    }

    100% {
        transform: translateY(-100vh);
        /* Y軸方向に画面の高さ分 (-100vh) 移動 */
    }
}

/* 透明度を指定するためのクラス */
.never-clickable {
    /* width: 70px;
    height: 70px;
    margin: 10px 10px 0px 10px; */
    opacity: 0.3;
    pointer-events: none;
    transition: opacity 0.5s;
}

/************************** 
登録スタンプ更新エリア
***************************/

#stampList table {
    border-collapse: collapse;
    width: 530px;
}

#stampList td {
    border: 0px solid black;
    text-align: center;
}


td img {
    display: block;
    margin: 0 auto;
}


.delete-btn {
    /* ボタン自体のスタイルを削除 */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.increment-btn {
    /* ボタン自体のスタイルを削除 */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    /* ボタンがフォーカスされたときの枠線を無効化 */
}

.decrement-btn {
    /* ボタン自体のスタイルを削除 */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    /* ボタンがフォーカスされたときの枠線を無効化 */
}


.image_thumnail img {
    width: 36px;
}


.even-row {
    background-color: #e1e1f0;
    /* 偶数行の背景色を設定 */
}

.odd-row {
    background-color: #ffffff;
    /* 奇数行の背景色を設定 */
}

/************************** 
スマホ画面 ロゴ、説明エリア
***************************/

/* マウスオーバーしたときのカーソルのスタイルをポインタに設定 */
a:hover {
    cursor: pointer;
}

/************************** 
スタンプの上の集計数
***************************/
.stamp-container {
    position: relative; 
    /* z-index: 100; */
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.stamp-click-count {
    position: absolute; 
    top: -0.5rem; 
    left: -0.5rem;
    background-color: darkred;
    color: white;
    border-radius: 50%; 
    width: 32px; 
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; 
    animation: fadeIn 0.5s forwards;
}
  

/************************** 
スタンプ表示エリア
***************************/

.canvas-wrapper {
    position: relative;
    display: inline-block;
}

.canvas-wrapper img {
    display: block;
    /* width: 100%; */
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
}

/************************** 
ピッチ登壇者ボタン表示エリア
***************************/
.btn-container {
    display: flex;
    flex-wrap: wrap;  /* ボタンが多い場合に折り返す */
    z-index: 20;  /* 10より大きい値を設定 */
    position: relative;  /* z-indexを有効にするためにpositionプロパティを設定 */
  }

  .btn-container button {
    font-size: larger;  /* 文字サイズを増やす */
    margin-right: 5px; /* 右側の余白を追加 */
    width: 32px;       /* ボタンの幅を10pxに設定 */
    height: 32px;      /* ボタンの高さを10pxに設定 */
    padding: 0;        /* パディングを削除（ボタンの内側の余白） */
    text-align: center;/* テキストをボタンの中央に配置 */
    border-radius: 5px; /* 角丸の半径を5pxに設定 */
  }

  #personInfo {
    position: absolute;
    bottom: 0; /* 下端をpersonWrapperの下端に合わせます */
    z-index: 11; /* z-indexを11に設定します */
  }

  @keyframes fadeInFromRight {
    0% {
      opacity: 0;
      transform: translateX(20pt);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-from-right {
    animation: fadeInFromRight 0.5s forwards;
  }
  
  /************************** 
ボタン変化エリア
***************************/
  .button-black {
    background-color: black;
    color: white; 
  }
  
  .button-gray {
    background-color: #d9d9d9;
    color: white;
  }
  
/************************** 
ハートマーク
***************************/

.circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* または position: absolute; にすると、親要素を基準に位置が固定されます */
    right: 16px; /* 右からの位置 */
    bottom: 16px; /* 下からの位置 */
    border: 2px solid black; 
  }
  
  .heart {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* または position: absolute; にすると、親要素を基準に位置が固定されます */
    right: 18px; /* 右からの位置 */
    bottom: 16px; /* 下からの位置 */
    transition: opacity 0.5s;
  }
  
  /************************** 
リセットボタン
***************************/
/* ボタンのスタイル */
.resetButton {
    display: block; /* ボタンをブロック要素として表示 */
    margin: 0 auto; /* 左右の余白を自動調整して中央配置 */
    padding: 10px 20px; /* パディングを設定（必要に応じて調整） */
    background-color: #007bff; /* ボタンの背景色 */
    color: #fff; /* ボタンのテキスト色 */
    border: none; /* ボーダーをなしに設定 */
    cursor: pointer; /* カーソルをポインターに変更 */
    font-size: 16px; /* フォントサイズ（必要に応じて調整） */
  }
  
  /* ボタンのホバースタイル（マウスオーバー時のスタイル） */
  .resetButton:hover {
    background-color: #0056b3; /* ホバー時の背景色 */
  }

  *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-emergency-real {
  position: relative;

  display: block;

  width: 200px;
  height: 130px;
  margin: 0 auto;
}

a.btn-emergency-real:hover .btn-emergency-real-top {
  top: 10px;

  height: 50px;
}

a.btn-emergency-real:active .btn-emergency-real-top {
  top: 20px;

  height: 40px;
}

.btn-emergency-real-top {
  position: absolute;
  top: 0;
  left: 20px;

  width: 160px;
  height: 60px;
  margin-top: 30px;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  border-radius: 0 0 50% 50%;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#630909),
    to(#d62d2d)
  );
  background-image: -webkit-linear-gradient(right, #630909 0%, #d62d2d 100%);
  background-image: linear-gradient(to left, #630909 0%, #d62d2d 100%);
  -webkit-box-shadow: inset 0 -1px 10px 0 rgba(0, 0, 0, 0.9),
    0 5px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px 10px 0 rgba(0, 0, 0, 0.9),
    0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-emergency-real-top:before {
  position: absolute;
  top: -30px;
  left: 0;

  width: 160px;
  height: 60px;

  content: "";

  border-radius: 80px / 30px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#6c0c0b),
    to(#ed4c4c)
  );
  background-image: -webkit-linear-gradient(bottom, #6c0c0b 0%, #ed4c4c 100%);
  background-image: linear-gradient(to top, #6c0c0b 0%, #ed4c4c 100%);
  -webkit-box-shadow: 0 10px 28px 2px rgba(0, 0, 0, 0.2),
    inset 0 5px 10px 0 rgba(0, 0, 0, 0.2),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.6),
    inset 0 -2px 1px 0 rgba(255, 255, 255, 0.1),
    inset 0 -2px 10px 5px rgba(237, 76, 76, 0.6),
    inset 5px 0 1px 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 28px 2px rgba(0, 0, 0, 0.2),
    inset 0 5px 10px 0 rgba(0, 0, 0, 0.2),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.6),
    inset 0 -2px 1px 0 rgba(255, 255, 255, 0.1),
    inset 0 -2px 10px 5px rgba(237, 76, 76, 0.6),
    inset 5px 0 1px 1px rgba(255, 255, 255, 0.3);
}

.btn-emergency-real-top span {
  font-size: 38px;
  font-weight: bold;

  position: absolute;
  top: -24px;
  left: 0;

  width: 100%;

  -webkit-transform: scaleY(0.75);

  transform: scaleY(0.75);
  text-align: center;

  color: #e48a8a;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5),
    1px 1px 5px rgba(255, 255, 255, 0.3);
}

.btn-emergency-real-bottom {
  position: absolute;
  top: 38px;
  left: 0;

  width: 200px;
  height: 80px;

  border-radius: 100px / 40px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f2f2f2),
    color-stop(48%, #b4b4b4),
    to(#767676)
  );
  background-image: -webkit-linear-gradient(
    left,
    #f2f2f2 0%,
    #b4b4b4 48%,
    #767676 100%
  );
  background-image: linear-gradient(
    to right,
    #f2f2f2 0%,
    #b4b4b4 48%,
    #767676 100%
  );
  -webkit-box-shadow: 0 8px 0 #c4cacc, inset 1px -1px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 0 #c4cacc, inset 1px -1px 10px 0 rgba(0, 0, 0, 0.2);
}
  